.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: right

}

.header-box {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-bottom: 0px;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 236px;
    /* border: 1px solid blue; */


}

.input-continue {
    background-color: #5F2EEA;
    border-color: none;
    border-style: none;
    border-radius: 5px;
    width: 236px;
    color: white;
}

input {
    height: 64px;
    margin-top: 25px;
    background-color: #EFF0F6;
    border-color: none;
    border-style: none;
    border-radius: 5px;
    color: black;
}

.form-box {
    display: flex;
    justify-content: center;
}

/* Testing Box: */

.testing-box {
    border: 1px solid black;
    width: 500px;
    margin-left: 30%;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

h3 {
    font-size: 30px;
    color: #4E4B66;
    margin-bottom: 0px;
}