.weather-page { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 900px;

}

.weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    width: 80%;
}

.weather-header {
    width: 100%;
    padding-bottom: 10%;
}

.weather-name { 
    font-size: 55px;
    width: 100%;
    display: flex;
}


.weather-forecast-text {
    color: #4E4B66;
    font-size: 34px;
    width: 100%;
    display: flex;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Card Color Mess Below */

.card-1 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-image: linear-gradient(#EB0055 , #F98820 );
        height: 70%;
    
        display: flex;
        justify-content: left;
        padding-left: 20px;
        padding-top: 50px;
        color: white;
        font-size: 40px;
        
}

.card-2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#EF33FF , #9E0D9B );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
}
.card-3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#624AF2 , #50DDC3 );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}
.card-4 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#5F2EEA , #C8B5FF );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}
.card-5 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#00E024 , #11C5A3 );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}