.weather-page { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 900px;

}

.weather-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    width: 80%;
}

.weather-header {
    width: 100%;
    padding-bottom: 10%;
}

.weather-name {
    font-size: 44px;
    width: 100%;
    display: flex;
}


.weather-forecast-text {
    color: #4E4B66;
    font-size: 34px;
    width: 100%;
    display: flex;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Card Color Mess Below */

.card-1 {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-image: linear-gradient(#00e0cd , #8d00eb );
        height: 70%;
    
        display: flex;
        justify-content: left;
        padding-left: 20px;
        padding-top: 50px;
        color: white;
        font-size: 40px;
        
}

.card-2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#00ff88 , #eb003b );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
}
.card-3 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#a4e000 , #8d00eb );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}
.card-4 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#00e0cd , #eb0000 );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}
.card-5 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: linear-gradient(#00e0cd , #8d00eb );
    height: 70%;

    display: flex;
    justify-content: left;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
    font-size: 40px;
    
}